<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025-2025. Dr Sean Paul Parsons. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- The foreground permission is important so that CameraX will continue to run when the app is in the background. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dmaple_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dmaple_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DMapLE"
        tools:targetApi="31">

        <!-- ACTIVITY: THE MAIN APP -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|density"> <!-- We will handle rotation changes-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVITY: SETTINGS -->
        <activity android:name=".SettingsActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- The mapping service. -->
        <service android:name=".map.MappingService"
            android:foregroundServiceType="camera"
            android:exported="false">
        </service>

        <!-- File provider so we can open the user guide in a PDF reader. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>


</manifest>